{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="container">
      <style>
    body{
    background-image: url('{% static "img/a1.jpg" %}');
    color: black;
    }
    .sign-up{
        background-color: ghostwhite;
    }

    </style>
        <div class="row">
            <div class="col-xl mt-5">
                <form method="POST" action="">
                    {% csrf_token %}

                             <ul class="errorlist"><li>This field is required.</li></ul>
<p> <input type="text" name="customer_name" placeholder="Fullname" class="form-control" rows="3" id="staticEmail" value="{{ request.user.first_name }}" required readonly></p>
<ul class="errorlist"><li>This field is required.</li></ul>
<p> <input type="email" name="email" placeholder="Email (example@gmail.com)" class="form-control" id="staticEmail" value="{{ request.user.email }}" required readonly></p>
<p><label for="id_comments">Feel free to add any other comments or suggestions:</label> <textarea name="comments" cols="40" rows="10" placeholder="Type your suggestions here..." width="500px" class="form-control" oninvalid="this.setCustomValidity(&quot;Please write your feedback in this field&quot;)" required id="id_comments">
sfawedfafsdfasdf</textarea></p>
<p><label for="id_book_name">Feel free to add any other comments or suggestions:</label> <input type="text" name="book_name" value="{{ object.title }}" placeholder="Book name" width="500px" class="form-control" readonly oninvalid="this.setCustomValidity(&quot;Please fill this field&quot;)" required id="id_book_name"></p>
                    <input type="hidden" name="book_id" value="{{ object.id }}">
                    <button type="submit" class="btn btn-success"> submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock  %}