{% extends 'base.html' %}
{% load static %}


{% block content %}
         <style>
    body{
    background-image: url('{% static "img/a1.jpg" %}');
    color: black;
    }
    .sign-up{
        background-color: ghostwhite;
    }

    </style>
<div class="container">
	<center>
<table>
{% for t in tokens %}
	{% if not t.deleted %}
	<tr><th>TOKENS</th>
		<th>REQUEST</th>
	</tr>
	<tr>
	<td>token No. :: {{ t.token }}</td>
	<td>
	<form  method='POST' > {% csrf_token %}
	<button type='submit' class="btn btn-success" formaction="{% url 'tokena:add_book' t.token %}" >Request to issue</button>
	</form>
    </td>
	</tr>
	<br>
{% endif %}

{% endfor %}
</table>
    </div>
{% endblock %}