<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{message}}
        </div>
    {% endfor %}
    {% endif %}


{% for b in borrowers %}
	{% if not b.deleted %}
	<div>Email :: {{ b.name }}</div>
	
	<form  method='POST' > {% csrf_token %}
	<input type="hidden" name="borrow-id" value="{{b.name}}">
	<button type='submit' formaction="{% url 'del_borrower:del' %}" >Request to delete</button>
	</form>

	<br>
{% endif %}

{% endfor %}
</body>
</html>