{% extends 'base.html' %}
{#{% load crispy_forms_tags %}#}
{% block content %}
<div class="container">
<br><br><br>
    <h1>Profile</h1>
    <p>Username: {{ request.user }}</p>
    <p>First name: {{ request.user.first_name }}</p>
    <p>Last name: {{ request.user.last_name }}</p>
    <p>Email: {{ request.user.email }}</p>
    <p>Phone: {{ request.user.phone_no }}</p>
    <p>City: {{ request.user.userprofile.city }}</p>
    <p>Website: {{ request.user.userprofile.website }}</p>
    <p>number of books issued: {{ request.user.userprofile.website }}</p>

    {% if request.user.userprofile.image %}
    <img src="{{ request.user.userprofile.image.url }}" width="240">
    {% endif %}
</div>
{% endblock %}

