<!-- <<<<<<< HEAD
<div class="card" style="width: 20rem;">
  {% if instance.image %}
    <a href="{{ instance.get_absolute_url }}"><img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title}} logo"></a>
    {% endif %}
  <div class="card-body">


    <h4 class="card-title">{{ instance.title }}</h4>
    
======= -->
<!-- Card -->
<div class="card" style="width:20rem;">

  <!-- Card image -->
  <div class="view overlay">
    <a href="{{ instance.get_absolute_url }}">
        <img class="card-img-top " src="{{ instance.image.url }}" alt="{{ instance.title }} logo">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body" style="background-color: black;">

    <!-- Title -->
   <h4 class="card-title">{{ instance.title }}</h4>
    <!-- Text -->

    <p class="card-text">{{ instance.isbn|linebreaks|truncatewords:14 }}</p>
    <!-- Button -->
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>

<!-- <<<<<<< HEAD
  </div>
    }
</div>
======= -->

  </div>

</div>
<!-- Card -->
