{% extends "base.html" %}
{% load static %}
<title> BookCafe</title>
{% block content %}

    {% include 'base/carousel.html' %}


<!-- content of the website will be in this container -->



    <div class="container">

        <h1>Hello, world!</h1>
        <h1>Hello, world!</h1>
        <h1>Hello, world!</h1>
        <h1>Hello, world!</h1>
    </div>


<!-- content of the website will be in this folder -->

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

{% endblock %}