{% extends "base.html" %}
{% load static %}
{% block content %}<link href="{% static 'css/card.css' %}" rel="stylesheet">

    <!--Carousel Wrapper-->
    {% include 'base/carousel.html' %}
    <!--Carousel Wrapper-->

<!-- content of the website will be in this container -->







    <!-- Projects section v.4 -->
<section class="text-center my-5">

  <!-- Section heading --><div class="container">
  <h2 class="black-text h1-responsive font-weight-bold text-center my-5">Categories</h2>
  <!-- Section description -->
  <p class="black-text text-center w-responsive mx-auto mb-5">Our site helps you browse different categories of books and then choose and issue any book you like.Some of the most viewed categories are shown below.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-6 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url({% static 'img/16.jpg' %});">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="purple-text">
              <i class="fa fa-pied-piper"></i>
              <strong> AI</strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>Artificial Intelligence</strong>
            </h3>
            <p class="pb-3">Artificial Intelligence is a way of making a computer, a computer-controlled robot, or a software think intelligently, in the similar manner the intelligent humans think.
              Explore this category to get some good books on AI.The scope of AI is disputed: as machines become increasingly capable, tasks considered as requiring "intelligence" are often removed from the definition, a phenomenon known as the AI effect, leading to the quip in Tesler's Theorem, "AI is whatever hasn't been done yet."
            </p>
            <a class="btn btn-secondary btn-rounded btn-md red-text"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url({% static 'img/17.jpg' %});">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="purple-text">
              <i class="fa fa-plane"></i>
              <strong> Image Processing</strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>Image Processing</strong>
            </h3>
            <p class="pb-3">In computer science, digital image processing is the use of computer algorithms to perform image processing on digital images.[1] As a subcategory or field of digital signal processing, digital image processing has many advantages over analog image processing. It allows a much wider range of algorithms to be applied to the input data and can avoid problems such as the build-up of noise and signal distortion during processing. Since images are defined over two dimensions (perhaps more) digital image processing may
            </p>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Grid column -->
    <br><br><div class="row">
    <!-- Grid column -->
    <div class="col-md-6 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url({% static 'img/14.jpeg' %});">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="pink-text">
              <i class="fa fa-pie-chart"></i>
              <strong> Algorithms</strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>Algorithms</strong>
            </h3>
            <p class="pb-3">In mathematics and computer science, an algorithm (/ˈælɡərɪðəm/ ( listen)) is an unambiguous specification of how to solve a class of problems. Algorithms can perform calculation, data processing and automated reasoning tasks.As an effective method, an algorithm can be expressed within a finite amount of space and time and in a well-defined formal language for calculating a function.

            </p>
            <a class="btn btn-pink btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="green-text">
              <i class="fa fa-eye"></i>
              <strong> Entertainment</strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>Novels</strong>
            </h3>
            <p class="pb-3">A novel is a relatively long work of narrative fiction, normally in prose, which is typically published as a book.

The entire genre has been seen as having "a continuous and comprehensive history of about two thousand years", with its origins in classical Greece and Rome, in medieval and early modern romance, and in the tradition of the Italian renaissance novella

            </p>
            <a class="btn btn-success btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</div>
</section>
<!-- Projects section v.4 -->

  <div class="container">
    <!-- Section: Products v.3 -->
<section class="text-center my-5">

        <!-- Section heading -->
        <h2 class="black-text h1-responsive font-weight-bold text-center my-5">Most Viewed</h2>
        <!-- Section description -->
        <!-- Card --><div class ="row">
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
<div class="card card-image" style="background-image: url({% static 'img/15.jpg' %});">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h3 class="card-title pt-2"><strong>Wings Of Fire</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a class="btn btn-pink"><i class="fa fa-clone left"></i> Read</a>
    </div>
  </div>

</div>
</div>
<div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
<div class="card card-image" style="background-image: url({% static 'img/14.jpeg' %});">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h3 class="card-title pt-2"><strong>Stark Woods</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a class="btn btn-pink"><i class="fa fa-clone left"></i> Read</a>
    </div>
  </div>

</div>
</div>
<div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
<div class="card card-image" style="background-image: url({% static 'img/13.png' %});">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h3 class="card-title pt-2"><strong>Harry Potter</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a class="btn btn-pink"><i class="fa fa-clone left"></i> Read</a>
    </div>
  </div>

</div>
</div>
<div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
<div class="card card-image" style="background-image: url({% static 'img/12.jpg' %});">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h3 class="card-title pt-2"><strong>The Kite Runner</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a class="btn btn-pink"><i class="fa fa-clone left"></i> Read</a>
    </div>
  </div>

</div>
</div>
</div>
</div>

<!-- Card -->
    <!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

    <div style="background-color: #21d192;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Book Cafe</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>A library management website for the students to go through different categories of books and then choose the desired book and issue it.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Features</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="/">Home</a>
          </p>
          <p>
            <a class="dark-grey-text" href="/">Issue</a>
          </p>
          <p>
            <a class="dark-grey-text" href="/">Categories</a>
          </p>
          <p>
            <a class="dark-grey-text" href="/">Feedback</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Your Account</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Issue a Book</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Recommended</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Help</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Indian Institute Of Information Technology Sricity, Chittoor - 517646</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> ronytowilson3097@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 91 720 233 71</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 91 231 462 08</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
      <a class="dark-grey-text" href="https://mdbootstrap.com/education/bootstrap/"> www.bookcafe.com</a>
    </div>
    <!-- Copyright -->

  </footer>



{% endblock %}