{% extends "base.html" %}
{% load static %}
{% block head %}


	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static 'book/bootstrap.min.css' %}" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'book/styleb.css' %}" />


{% endblock head %}



{% block content %}

    </style>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="booking-cta">
							<h1>Make your Booking</h1>
							<p>Our library managemnet system allows you to browse through all the books and issue any book you want. After booking here you will be having 3 hours to come to the library and take your book.</p>
						</div>
					</div>
					<div class="col-md-6 col-md-offset-1">
						<div class="booking-form">
							<form method="POST" action="" >{% csrf_token %}
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											
											<span class="form-label">Username</span>
											<input class="form-control" type="text" id="username" name="username" 
												 value="{{ user }}"
							       			readonly>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="text" id="bookname" name="bookname" value="{{ values.title }}" readonly>
											<span class="form-label">Bookname</span>
											
										</div>
									</div>
								</div>
							
									<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											
											<span class="form-label">Author</span>
											<input class="form-control" type="text" id="authorname" name="authorname" 
											{% for author in values.authors.all %}
							       				 value="{{ author.name }}"
											{% endfor %}"
											readonly>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="text" id="date" name="issuedate"              value="{{ date }}" readonly>
											<span class="form-label">Check In</span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="text" id="returndate" name="returndate"         value="{{ rdate }}" readonly>
											<span class="form-label">Check Out</span>
										</div>
									</div>
								</div>
								<div class="form-btn">
									<button class="submit-btn" formaction="{% url 'book:gen_token' values.slug %}">Book Now</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block script %}
	<script src="{% static 'book/jquery.min.js' %}"></script>
	<script>

	// 	n =  new Date();
	// 	y = n.getFullYear();

	// 	m = n.getMonth() + 1 ;

	// 	d = n.getDate();
	// 	r = n.getDate()+15;
	// 	// m=r.split('/')[1]
	// 	// d=r.split('/')[0]
	// 	// y=r.split('/')[2]
	// 	 switch(m){
	// 	case 1: case 3: case 5: case 7: case 8: case 10: case 12:
	// 		if(r > 31)
	// 			r=r-31;
	// 			m=m+1;
	// 	case 2:
	// 		if (y % 4 == 0)
	// 			if(d > 29){
	// 			r=r-29;
	// 			m=m+1	
	// 			}
				
	// 		if(r > 28){
	// 			r=r-28;
	// 			m=m+1	
			
	// 		}
		
	// 	case 4: case 6: case 9: case 11:
	// 		if(r > 30){
	// 			r=r-30;
	// 			m=m+1;
	// 		}
	
	// }


	// 	document.getElementById("date").value = d + "/" + m + "/" + y;
	// 	document.getElementById("returndate").value = r + "/" + m + "/" + y;



		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}


		
	</script>
{% endblock script %}
</body>

</html>