{% extends "base.html" %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<link type="text/css" rel="stylesheet" href="{% static 'book/star.css' %}" />

<link type="text/css" rel="stylesheet" href="{% static 'book/star2.css' %}" />

{% endblock head %}

{% block content %}
<div class="container">
 <style>
    body{
    background-image: url('{% static "img/a1.jpg" %}');
    color: black;
    }
    .sign-up{
        background-color: ghostwhite;
    }
    </style>
   <!--  <div class='row'>
        <div class='col-12 col-md-6'>
                {% if messages %}
                        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
                                 {{message}}
        </div>
                    {% endfor %}
    {% endif %} -->



    <main style="padding-top: 5.5rem">
                <h1>{{ object.title }}</h1>
                {{ object.isbn|linebreaks }}<br/>
                {% if object.image %}
                    <img src='{{ object.image.url }}' class='img-fluid' style="height:50vh;" />
                {% endif %}
        <div class="col-12 col-md-6">
            <form  method='POST' > {% csrf_token %}
                <input type='hidden' name='book_id' value='{{ object.id }}' />
                  <span class='submit-span'>
<!-- {#                {% if check if the user has requested for issue or not %} make a function like get_absolute_url#}
                    {% if get_absolute_url %}
                    Requested <button type='submit' class='btn btn-link'>undo the request</button>
                {% else %}
                    <button type='submit' formaction="{% url 'book:check_book' object.slug %}" class='btn btn-success'>Request to issue</button>
                {% endif %}
 -->

                    <br><br>
            <h2>Total Stock</h2>
            <h3>{{ object.no_of_actual_copy }}</h3>

                <h2>Available</h2>
            <h3>{{ object.no_of_copy_left }}</h3>



            {% if token %}
                {%  if borrower_detail %}

                Book borrowed already

                  {% else %}
                    {% if object in request.user.book_issued.all  %}
                         Requested <button type='submit' formaction="{% url 'book:undo' object.slug %}" class='btn btn-link'>undo the request</button>
                    {% else %}
                         <button type='submit' formaction="{% url 'book:check_book' object.slug %}" class='btn btn-success'>Request to issue</button>

                         <button type='submit' formaction="{% url 'book:check_bookp' object.slug %}" class='btn btn-success'>Book Pool</button>
                    {% endif %}

                      {% endif %}
            {% else %}


                 <button type='submit' formaction="{% url 'book:check_book' object.slug %}" class='btn btn-success'>Request to issue</button>

                <button type='submit' formaction="{% url 'book:check_bookp' object.slug %}" class='btn btn-success'>Book Pool</button>

            {% endif %}

            

<div class="cont" style="margin-top:150px;">
  <div class="title">
  <h1><span>rate us</span></h1>
  </div>
  <div class="stars">
   <!--  <form method="POST" action="{% url 'book:reviews' object.slug %}">{% csrf_token %} -->
      <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>

      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
      <label class="star star-1" for="star-1"></label>
<!--       <input type="text" placeholder="write a review" />
 -->      <textarea rows="5" cols="25" placeholder="write a review" name="text"></textarea>
        <input type="submit" formaction="{% url 'book:reviews' object.slug %}" /> 
   <!--  </form> -->
   <!-- <script type="text/javascript">
       if document.getElementById("star-5").checked==true
   </script> -->
  </div>
</div>

{% for p in review %}
{% if p.user != request.user %}
<div>
 <h2>{{p.user}}</h2>
<div class="containerdiv">
    <div>
    <img src="https://image.ibb.co/jpMUXa/stars_blank.png" alt="img">
    </div>
    <div class="cornerimage" style=width:{{p.rating}}%>
    <img src="https://image.ibb.co/caxgdF/stars_full.png" alt="">
    </div>
<div>
   
    <br>
    {{p.review}}
    <br>

</div>
{%  endif %}
{% endfor %}    

                </span>
            </form>
<form method="post" action="{% url 'form:feedback-page' %}">
                {% csrf_token %}
                <input type="text" name='book_id' value="{{ object.id }}">
                <div class="col-md-3" >
                    <button class="btn btn-outline-success">Feedback</button>
                </div>
            </form>

        </div>
        </main>
</div>
{% endblock %}