<!--
{% extends "cat1books/base1.html" %}
{% load static %}
{% block content %}
-->
<!DOCTYPE html>
<html lang="en" class="no-js">
  <body>

<form action="{% url 'confirm.book' %}" method="post">
    {%  csrf_token %}


                <label  for="username">Name</label>
                <input type="text" id="username" name="username" value="{{ values.username }}"><br>

                <label for="bookname">Book Name</label>
                <input type="text" id="bookname" name="bookname" value="{{ values.book_name }}"><br>

                <label  for="authorname">Author Name</label>
                <input type="text" id="authorname" name="authorname" value="{{ values.authors }}"><br>
      
                <br>



                <label  for="issuedate">Issue Date</label>
                <input type="text" id="date" name="issuedate" ><br>

                <label  for="returndate">Return Date</label>
                <input type="text" id="returndate" name="returndate" ><br>

                <label  for="authorname">Author Name</label>
                <input type="text" id="authorname" name="authorname" value="{{ values.authors }}"><br>
                        
                <input type="submit">
</form>
      
</body>

<script type="text/javascript">
  
n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
r=n.getDate()+15;
document.getElementById("date").value = d + "/" + m + "/" + y;
document.getElementById("returndate").value = r + "/" + m + "/" + y;


</script>

</html>
<!--
{% endblock content %}


issue_date          = models.DateField()
    returning_date      = models.DateField()
-->
