<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

					{% if messages %}
			    		{% for message in messages %}
			    			<div class="alert alert-{{ message.tags }}">
			    				{{message}}
			    			</div>
			    		{% endfor %}
			    	{% endif %}


<!-- {% for values in values %}
{% if values is book %}
		 value="{{ values.name }}"
	{% endif %}
{% endfor %} -->
{{ book  }}


	<form method="POST">
		{%  csrf_token %}
		<button type="submit" formaction="{% url 'confirm.book' %}">issue</button>
		<button type="submit" formaction="{% url 'confirm.book' %}">pool issue</button>
	</form>
</body>
</html>