{% extends "cat1books/base1.html" %}
{% block content %}
	{% for Book in Books %}

					<div class="grid__item">
						<div class="product">
							<div class="product__bg"></div>
							<img class="product__img" src= "{{ Book.image.url }}" alt="{{ Book.image }}"/>
							<h2 class="product__title">{{ Book.name }}</h2>
							<h3 class="product__subtitle">{{ Book.authors }}</h3>
							<p class="product__description">Drinking vinegar lumbersexual 90's flexitarian. Live-edge man bun air plant XOXO. Master cleanse vaporware keffiyeh.</p>
							<div class="product__price">{{ Book.publisher }}</div>
							
						</div>
					</div>

<!--
					<form>
						<input type="hidden" name="asfkdj">
						<button type="submit" ></button>
					</form>

					<button>sdahlk</button>
				
-->
	{% endfor %}
{% endblock content %}-+